{% extends "base.html" %}
{% block content %}

<div class="content">
    <h1 class="auth-title">Einloggen</h1>

    {% if message %}
        <p style="color: #3cff9a; margin-bottom: 10px;"><strong>{{ message }}</strong></p>
    {% endif %}

    <form method="post">
        <input type="email" name="email" placeholder="E-Mail Adresse" required>
        <input type="password" name="password" placeholder="Passwort" required>
        <button class="btn" type="submit">Einloggen</button>
    </form>

    <a href="{{ url_for('register') }}">
        <button class="btn" type="button">Noch kein Konto? Registrieren</button>
    </a>
</div>

{% endblock %}
